<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title test
        script(src="/vendors.js")
        script(src="/runtime.js")
        script(src="/main.js")
    body